# dependencies
node_modules
.pnpm-store

# build
dist
.next
.turbo
out

# env
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# supabase
supabase/.temp
*.tsbuildinfo
apps/web/next-env.d.ts
